
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
          <!-- <a [routerLink]="['/']"><b>Green</b>Shop</a> -->
          <a [routerLink]="['/']"><b>OK</b>Carting</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">New Password</p>
      
          
            <!-- <p class="mb-1">
              <a [routerLink]="['/']">Login</a>
            </p> -->
           
          </div>
          
        </div>
      </div>
    </div>
