
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
          <!-- <a [routerLink]="['/']"><b>Green</b>Shop</a> -->
          <a [routerLink]="['/']"><b>OK</b>Carting</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Recover your password</p>
      
            <form [formGroup]="fForm" (ngSubmit)="Send()">
              <div class="input-group mb-3">
                <input formControlName="username" type="text" class="form-control" placeholder="Enter your Mobile No" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <p>
                <span class="text-danger" *ngIf="!fForm.get('username').value && formSubmitted">
                  Enter your mobile no.
                </span>
              </p>
             
             
              <div class="row">
               
                <div class="col-12">
                  <button type="submit"  class="btn btn-primary btn-block" > Retrieve Password</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <p class="mb-1">
              <a [routerLink]="['/']">Login</a>
            </p>
           
          </div>
          
        </div>
      </div>
    </div>